<div class = "container">
  <h1 align>Create new administrator</h1>
  <br>


<%= render 'form', admin: @admin %>
<br>
<%= link_to 'View all admins', admins_path %> |
  <%= link_to 'Menu', admins_options_path %>
</div>