<p id="notice"><%= notice %></p>

<h1>Members</h1>

<div class="table-responsive">
  <table class="table table-hover">
  <thead>
  <tr>
    <th colspan="3"></th>
    <th>Name </th>
    <th>Email </th>
  </tr>
  </thead>

  <tbody>
  <% @members.each do |member| %>
      <tr>
        <td colspan="3"></td>
        <td align><%= member.name %></td>
        <td align><%= member.email %></td>
        <td><%= link_to 'View Booking History', history_member_path(:id => member.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
  </div>
<br>
